<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
  <%= "likes: #{@comment.like}" %>
  <%= "dislikes: #{@comment.dislike}" %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.name %>
</p>

<div class="">
  <%= link_to 'like', author_book_comment_path(@book.author.id, @book.id, @comment.id, :like => 'like'), :class => 'button' %>
  <%= link_to 'dislike', author_book_comment_path(@book.author.id, @book.id, @comment.id, :like => 'dislike'), :class => 'button' %>
  <%= link_to 'Edit', edit_author_book_comment_path(@book.author.id, @book.id, @comment.id), :class => 'button' %>
  <%= link_to 'Back', author_book_comments_path(@book.author.id, params[:id]), :class => 'button'  %>
</div>
